header {

  border-bottom: 1px solid #ccc;
  padding: 10px;

  .logo {
    font-size: 2rem;
    font-family: Bitter-SemiBoldItalic;

    span {
      font-family: Bitter-ExtraBoldItalic;
      //   transform: ;
    }
  }

  .header-content{
    width: 100%;
  }
  .main-nav {
    font-size: 1.3rem;
    display: flex;
    min-width: 40%;
    justify-content: space-between;
  }

  a {
    display: flex;
    align-items: center;
  }
}
