.home-page {
  border: 1px solid #ccc;
  width: 50%;
  padding: 15px;
  margin: 15px auto;
  border-radius: 10px;

  .home-user {
    >* {
      margin-bottom: 10px;

    }
  }

  img {

    margin: 5px
  }
}
