@font-face {
    font-family: Bitter-SemiBoldItalic;
    src: url(../../fonts/Bitter-SemiBoldItalic.ttf);
}
@font-face {
    font-family: Bitter-ExtraBoldItalic;
    src: url(../../fonts/Bitter-ExtraBoldItalic.ttf);
}
@font-face {
    font-family: Bitter-Regular;
    src: url(../../fonts/Bitter-Regular.ttf);
}

// @font-face {
//     font-family: montserrat;
//     src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }