<h1>add new contact</h1>
<form #editForm="ngForm" (ngSubmit)="onSaveContact(editForm)" novalidate>
  <div class="form-group flex column align-center">
    <label for="">name</label>
    <input name="name" ngModel required >
  </div>
  <div class="form-group flex column align-center">
    <label for="">e-mail</label>
    <input type="email" name="email" ngModel>
  </div>
  <div class="form-group flex column align-center">
    <label for="">phone</label>
    <input validate type="number" name="phone" ngModel>
  </div>
  <button>Submit</button>
</form>
