// Colors
$clr1: #0779e4;
$clr2: #77d8d8;
$clr3: #eff3c6;
$clr4: #95adbe;
$clr5: #4cbbb9;
$clr6: #fff;

// padding header
$header-height: 100px;

// Breakpoints
$mobile-breakpoint: 520px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

