li {
  list-style: none;
  border-radius: 5px;
  background-color: #cccccc;
  margin-bottom: 10px;
  width: 30rem;
  cursor: pointer;

  button {
    border: none;
    padding: 0;

    img {
      width: 2.5rem;
    }
  }

  .contact-img {
    margin: 5px;
    width: 20%;
  }
}
