.homepage {
    height: 100%;
    color: #fff;
}

@media (max-width: 570px) {

    .homepage {

        .hero-container {
            .hero-txt{
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}